* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-seriff;
}

nav {
  display: flex;
  align-items: center;
  background-color: #67565f;
  height: 90px;
  padding: 30px;
}

nav > h3 {
  margin-right: auto;
  color: #61DAFB;
}